* {
    margin: 0;
    padding: 0;
}

/* 


    INDEX


*/

.site_header {
    background-image: url(../images/style/header-image.jpg);
    background-size: cover;
    color: #FFFFFF;
    height: 500px;
    display: block;
}

.site_header__top.top {
    width: 940px;
    height: 74px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.top__escape_text {
    font: 400 26px/26px "Lora"; 
}

.site_header__escape_menu.escape_menu {
    list-style-type: none;
    height: 40px;
    display: flex;
    align-items: center;
    width: 376px;
    justify-content: space-around;
}

.escape_menu__button{
    font: 400 12px/20px "Oxygen";
    color:#FFFFFF;
    text-decoration: none;
}

.site_header__content.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 110px; 
    height: 160px;
}

.content__header_text {
    font: 400 50px/51px "Lora";
}

.underheader__text {
    font: 400 17px/20px "Oxygen";
    color: rgba(255, 255, 255, 0.6);
}

.underheader__button {
    display: inline-block;
    font: 400 13px/20px "Oxygen";
    text-decoration: none;
    background-color: #DD783F;
    color: #FFFFFF;
    padding: 22px 52px;
    border-radius: 10px;
}

.site_content {
    background-color: #F7F7F7;
    padding-bottom: 90px;
}

.site_content__color_set {
    background-color: #FFFFFF;
}

.site_content__content_sort.content_sort {
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 65px;
    justify-content: space-between;
    align-content: center;
}

.content_sort__button{
    font: 400 14px/20px "Lora";
    text-decoration: none;
}

.site_content__featured_posts.featured_posts {
    width: 940px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.featured_posts__section_mark {
    font: 400 20px/27px "Oxygen";
    color: #2E2E2E;
    border-bottom: 1px solid #DEDEDE;
    width: 188px;
    padding-bottom: 17px;
    padding-left: 45px;
}

.featured_posts__articles.articles {
    width: 940px;
    margin-inline: auto;
    display: flex;
    margin-top: 16px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.articles__article.article{
    background-size: cover;
    width: 440px;
    height: 280px;
    border-radius: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.article__adventure_sign{
    font: 400 12px/13px "Oxygen";
    background-color: #DD783F;
    color: #FFFFFF;
    padding: 7px 9px;
    border-radius: 3px;
    margin-bottom: 53px;
    max-width: 70px;
    display: none;
}

.article__adventure_sign_visible {
    display: inline-block;
}

.article__header {
    font: 400 27px/30px "Lora";
    color: #FFFFFF;
    margin-top: 58px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.article__subscription{
    font: 400 14px/25px "Oxygen";
    color: rgba(255, 255, 255, 0.7);
    margin-top: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article__author.author {
    display: flex;
    margin-top: 12px;
    margin-bottom: 15px;
    align-items: center;
}

.author__photo {
    border-radius: 60px;
}

.author__subscription{
    max-width: 96px;
    font: 400 14px/35px "Oxygen";
    color: rgba(255, 255, 255, 0.6);
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.author__date {
    max-width: 108px;
    font: 400 14px/35px "Oxygen";
    color: rgba(255, 255, 255, 0.7);
    margin-left: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.site_content__recent.recent {
    width: 940px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.recent__section_mark{
    font: 400 20px/27px "Oxygen";
    color: #2E2E2E;
    width: 188px;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 17px;
    padding-left: 111px;
    margin-top: 60px;
}

.recent__post.post {
    width: 960px;
    margin-top: 22px;
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
}

.extra_article {
    width: 296px;
    height: 291px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #FFFFFF;
}

.extra_article__image {
    width: 296px;
    height: 150px;
}

.extra_article__text.text {
    width: 296px;
    height: 93px;
    border-bottom: 1px solid #EFEFEF;
}

.text__header{
    font: 400 16px/21px "Lora";
    color: #101315;
    margin-top: 14px;
    margin-left: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    display: block;
}

.text__subscription{
    font: 400 13px/19px "Oxygen";
    color: #7A7A7A;
    margin-top: 6px;
    margin-left: 13px;
    max-height: 40px;
    overflow: hidden;
}

.extra_article__extra_avatar.extra_avatar {
    width: 296px;
    height: 48px;
    background-color: #FCFCFC;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.extra_avatar__human.human {
    display: flex;
    align-items: center;
}

.human__image {
    width: 26px;
    height: 26px;
    margin-left: 13px;
}

.human__subscription {
    font: 400 11px/35px "Oxygen";
    color: #999999;
    margin-left: 10px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.extra_avatar__date {
    font: 400 12px/35px "Oxygen";
    color: #999999;
    margin-right: 13px;
    max-width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.site_footer {
    background-image: url(../images/style/footer-image.png);
    background-size: cover;
    height: 378px;
    display: block;
}

.site_footer__sit.sit {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 288px ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.sit__text {
    font: 400 25px/30px "Oxygen";
    color: #EFEFEF;
    border-bottom: 1px solid #DEDEDE;
    width: 188px;
    padding-bottom: 18px;
    padding-left: 35px;
    margin-top: 81px;   
}

.sit__console_log.console_log {
    display: flex;
    margin-top: 20px;
}

.console_log__console {
    font: 400 12px/14px "Roboto";
    color: #817F83;
    padding: 16.5px 205px 16.5px 35px;  
}

.console_log__button {
    font: 400 12px/14px "Roboto";
    padding: 18px 43px 18px 44px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.28);
    border: none;
}

.console_log__button:active {
    background-color: rgba(255, 255, 255, 0.05);
}

.console_log__button:hover {
    background-color: rgba(255, 255, 255, 0.35);
}


.site_footer__exit_buttons.exit_buttons {
    background-image: url(../images/style/footer-rectangle.png);
    background-size: cover;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.exit_buttons__footer_text {
    font: 400 26px/26px "Lora";
    color: #FFFFFF;
}

.exit_buttons__nav_menu.nav_menu {
    list-style-type: none;
    display: flex;
    width: 133px;
    justify-content: space-between;
    width: 253px;
}

.nav_menu__footer_button {
    font: 400 11px/26px "Oxygen";
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}


/*


    THE ROAD AHEAD


*/

.tra_header {
    margin-inline: auto;
    display: flex;
    height: 74px;
    width: 940px;
    align-items: center;
    justify-content: space-between;
}

.tra_header__text {
    font: 400 26px/26px "Lora";
    color: #2E2E2E;
}

.tra_header__tra_menu.tra_menu {
    list-style-type: none;
    display: flex;
    width: 377px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
}

.tra_menu__button{
    font: 400 12px/20px "Oxygen";
    color: #2E2E2E;
    text-decoration: none;
}

.tra_content__upper_text.upper_text {
    height: 160px;
    width: 940px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}

.upper_text__header{
    font: 400 50px/51px "Lora";
    color: #2E2E2E;
}

.upper_text__underheader{
    font: 400 17px/20px "Oxygen";
    color: #2E2E2E;
    padding-top: 20px;
}

.tra_content__image {
    height: 535px;
    max-height: 535px;
    width: 100%;
}

.tra_content__information {
    font: 400 24px/35px "Oxygen";
    color: #101315;
    width: 960px;
    margin-inline: auto;
    margin-top: 140px;
    margin-bottom: 135px;
    word-break: break-all;
}
