* {
    margin: 0;
    padding: 0;
}

/* 


    INDEX


*/

.site_header {
    background-image: url(images/style/header-image.jpg);
    background-size: cover;
    color: #FFFFFF;
    height: 500px;
    display: block;
}

.site_header__top.top {
    width: 940px;
    height: 74px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.top__escape_text {
    font: 400 26px/26px "Lora"; 
}

.site_header__escape_menu.escape_menu {
    list-style-type: none;
    height: 40px;
    display: flex;
    align-items: center;
    width: 376px;
    justify-content: space-around;
}

.escape_menu__button{
    font: 400 12px/20px "Oxygen";
    color:#FFFFFF;
    text-decoration: none;
}

.site_header__content.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 110px; 
    height: 160px;
}

.content__header_text {
    font: 400 50px/51px "Lora";
}

.underheader__text {
    font: 400 17px/20px "Oxygen";
    color: rgba(255, 255, 255, 0.6);
}

.underheader__button {
    display: inline-block;
    font: 400 13px/20px "Oxygen";
    text-decoration: none;
    background-color: #DD783F;
    color: #FFFFFF;
    padding: 22px 52px;
    border-radius: 10px;
}

.site_content {
    background-color: #F7F7F7;
}

.site_content__color_set {
    background-color: #FFFFFF;
}

.site_content__content_sort.content_sort {
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 65px;
    justify-content: space-between;
    align-content: center;
}

.content_sort__button{
    font: 400 14px/20px "Lora";
    text-decoration: none;
}

.site_content__featured_posts.featured_posts {
    width: 940px;
    height: 415px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.featured_posts__section_mark {
    font: 400 20px/27px "Oxygen";
    color: #2E2E2E;
    border-bottom: 1px solid #DEDEDE;
    width: 188px;
    padding-bottom: 17px;
    padding-left: 45px;
}

.featured_posts__content.content {
    width: 940px;
    height: 294px;
    margin-inline: auto;
    display: flex;
    margin-top: 16px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content__tra.tra{
    background-image: url(images/index/p1.png);
    background-size: cover;
    width: 440px;
    height: 280px;
    border-radius: 10px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.tra__header {
    font: 400 27px/30px "Lora";
    color: #FFFFFF;
    margin-top: 157px;
}

.tra__subscription{
    font: 400 14px/25px "Oxygen";
    color: rgba(255, 255, 255, 0.7);
}

.tra__avatar.tra_author {
    display: flex;
    margin-top: 12px;
    flex-wrap: wrap;
    align-items: center;
}

.tra_author__subscription{
    font: 400 14px/35px "Oxygen";
    color: rgba(255, 255, 255, 0.6);
    margin-left: 10px;
}

.tra_author__date {
    font: 400 14px/35px "Oxygen";
    color: rgba(255, 255, 255, 0.7);
    margin-left: 200px;
}

.content__fttd.fttd{
    background-image: url(images/index/p2.png);
    background-size: cover;
    width: 440px;
    height: 280px;
    border-radius: 10px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.fttd__adventure_sign{
    display: inline-block;
    font: 400 12px/13px "Oxygen";
    background-color: #DD783F;
    color: #FFFFFF;
    padding: 7px 9px;
    border-radius: 3px;
    margin-top: 20px;
    max-width: 70px;
}

.fttd__header {
    font: 400 27px/30px "Lora";
    color: #FFFFFF;
    margin-top: 111px;
}

.fttd__subscription {
    font: 400 14px/25px "Oxygen";
    color: rgba(255, 255, 255, 0.7);
}

.fttd__avatar.avatar {
    display: flex;
    margin-top: 12px;
    flex-wrap: wrap;
    align-items: center;
}

.avatar__subscription {
    font: 400 14px/35px "Oxygen";
    color: rgba(255, 255, 255, 0.7);
    margin-left: 10px;
}

.avatar__date {
    font: 400 14px/35px "Oxygen";
    color: rgba(255, 255, 255, 0.7);
    margin-left: 200px;
}

.site_content__recent.recent {
    width: 940px;
    height: 752px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.recent__section_mark{
    font: 400 20px/27px "Oxygen";
    color: #2E2E2E;
    width: 188px;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 17px;
    padding-left: 111px;
}

.recent__post.post {
    width: 960px;
    height: 632px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.extra_article {
    width: 296px;
    height: 291px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #FFFFFF;
}

.extra_article__image {
    width: 296px;
    height: 150px;
}

.extra_article__text.text {
    width: 296px;
    height: 93px;
    border-bottom: 1px solid #EFEFEF;
}

.text__header{
    font: 400 16px/21px "Lora";
    color: #101315;
    margin-top: 14px;
    margin-left: 13px;
}

.text__subscription{
    font: 400 13px/19px "Oxygen";
    color: #7A7A7A;
    margin-top: 6px;
    margin-left: 13px;
}

.extra_article__extra_avatar.extra_avatar {
    width: 296px;
    height: 48px;
    background-color: #FCFCFC;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.extra_avatar__human.human {
    display: flex;
    align-items: center;
}

.human__image {
    width: 26px;
    height: 26px;
    margin-left: 13px;
}

.human__subscription {
    font: 400 11px/35px "Oxygen";
    color: #999999;
    margin-left: 10px;
}

.extra_avatar__date {
    font: 400 12px/35px "Oxygen";
    color: #999999;
    justify-self: flex-end;
    margin-right: 13px;
    width: 60px;
}

.site_footer {
    background-image: url(images/style/footer-image.png);
    background-repeat: no-repeat;
}

.sit__text {
    font: 400 25px/30px "Oxygen";
    color: #EFEFEF;
    border-bottom: 1px solid #DEDEDE;
}

.console_log__console {
    background-image: url(images/style/console_log__console.png);
    background-repeat: no-repeat;
    font: 400 12px/14px "Roboto";
    color: #817F83;
}

.console_log__button {
    background-image: url(images/style/console_log__button.png);
    background-repeat: no-repeat;
    font: 400 12px/14px "Roboto";
    color: #F8F8F8;
}

.site_footer__exit_buttons.exit_buttons {
    background-image: url(images/style/footer-rectangle.png);
    background-repeat: no-repeat;
}

.exit_buttons__footer_text {
    font: 400 26px/26px "Lora";
    color: #FFFFFF;
}

.nav_menu__footer_button {
    font: 400 11px/26px "Oxygen";
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}


/*


    THE ROAD AHEAD


*/

.tra_header__text {
    font: 400 26px/26px "Lora";
    color: #2E2E2E;
}

.tra_menu__button{
    font: 400 12px/20px "Oxygen";
    color: #2E2E2E;
    text-decoration: none;
}

.upper_text__header{
    font: 400 50px/51px "Lora";
    color: #2E2E2E;
}

.upper_text__underheader{
    font: 400 17px/20px "Oxygen";
    color: #2E2E2E;
}

.tra_content__information {
    font: 400 24px/35px "Oxygen";
    color: #101315;
}
