* {
    margin: 0;
    padding: 0;
}

/* 


    INDEX


*/

.site_header {
    background-image: url(images/style/header-image.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
}


.site_header__escape_text {
    font: 400 26px/26px "Lora";
}

.escape_menu__button{
    font: 400 12px/20px "Oxygen";
    color:#FFFFFF;
    text-decoration: none;
}

.site_header__header_text {
    font: 400 50px/51px "Lora";
}

.underheader__text {
    font: 400 17px/20px "Oxygen";
    color: rgba(255, 255, 255, 0.6);
}

.underheader__button {
    display: inline-block;
    font: 400 13px/20px "Oxygen";
    text-decoration: none;
    background-color: #DD783F;
    color: #FFFFFF;
    padding: 22px 52px;
    border-radius: 10px;
}

.content_sort__button{
    font: 400 14px/20px "Lora";
    text-decoration: none;
}

.featured_posts__section_mark {
    font: 400 20px/27px "Oxygen";
    color: #2E2E2E;
    border-bottom: 1px solid #DEDEDE;
}

.featured_posts__tra.tra{
    background-image: url(images/index/p1.png);
    background-repeat: no-repeat;
}

.tra__header {
    font: 400 27px/30px "Lora";
    color: #FFFFFF;
}

.tra__subscription{
    font: 400 14px/25px "Oxygen";
    color: rgba(255, 255, 255, 0.7);
}

.tra_author__subscription{
    font: 400 14px/35px "Oxygen";
    color: rgba(255, 255, 255, 0.6);
}

.tra__date {
    font: 400 14px/35px "Oxygen";
    color: rgba(255, 255, 255, 0.7);
}

.featured_posts__fttd.fttd{
    background-image: url(images/index/p2.png);
    background-repeat: no-repeat;
}

.fttd__adventure_sign{
    font: 400 12px/13px "Oxygen";
    background-color: #DD783F;
    color: #FFFFFF;
    border: 5px solid #DD783F;
    background-repeat: no-repeat;
    border-radius: 3px;
    display: inline-block;
}

.fttd__header {
    font: 400 27px/30px "Lora";
    color: #FFFFFF;
}

.fttd__subscription {
    font: 400 14px/25px "Oxygen";
    color: rgba(255, 255, 255, 0.7);
}

.fttd_author__subscription {
    font: 400 14px/35px "Oxygen";
    color: rgba(255, 255, 255, 0.7);
}

.fttd__date {
    font: 400 14px/35px "Oxygen";
    color: rgba(255, 255, 255, 0.7);
}

.recent__section_mark{
    font: 400 20px/27px "Oxygen";
    color: #2E2E2E;
    border-bottom: 1px solid #DEDEDE;
}

.extra_article__image {
    max-width: 296px;
    max-height: 150px;
}

.extra_article__header{
    font: 400 16px/21px "Lora";
    color: #101315;
}

.extra_article__subscription{
    font: 400 13px/19px "Oxygen";
    color: #7A7A7A;
}

.extra_avatar__subscription {
    font: 400 11px/35px "Oxygen";
    color: #999999;
}

.extra_article__date {
    font: 400 12px/35px "Oxygen";
    color: #999999;
}

.site_footer {
    background-image: url(images/style/footer-image.png);
    background-repeat: no-repeat;
}

.sit__text {
    font: 400 25px/30px "Oxygen";
    color: #EFEFEF;
    border-bottom: 1px solid #DEDEDE;
}

.console_log__console {
    background-image: url(images/style/console_log__console.png);
    background-repeat: no-repeat;
    font: 400 12px/14px "Roboto";
    color: #817F83;
}

.console_log__button {
    background-image: url(images/style/console_log__button.png);
    background-repeat: no-repeat;
    font: 400 12px/14px "Roboto";
    color: #F8F8F8;
}

.site_footer__exit_buttons.exit_buttons {
    background-image: url(images/style/footer-rectangle.png);
    background-repeat: no-repeat;
}

.exit_buttons__footer_text {
    font: 400 26px/26px "Lora";
    color: #FFFFFF;
}

.nav_menu__footer_button {
    font: 400 11px/26px "Oxygen";
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}


/*


    THE ROAD AHEAD


*/

.tra_header__text {
    font: 400 26px/26px "Lora";
    color: #2E2E2E;
}

.tra_menu__button{
    font: 400 12px/20px "Oxygen";
    color: #2E2E2E;
    text-decoration: none;
}

.upper_text__header{
    font: 400 50px/51px "Lora";
    color: #2E2E2E;
}

.upper_text__underheader{
    font: 400 17px/20px "Oxygen";
    color: #2E2E2E;
}

.tra_content__information {
    font: 400 24px/35px "Oxygen";
    color: #101315;
}
