/*

footer {
    background-image: url(images/style/footer-image.jpg);
    background-repeat: no-repeat;
}

footer h3{
    font-size: 26px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: "Lora", serif;
}

footer nav a{
    font-size: 11px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    font-family: "Oxygen", sans-serif;
    text-decoration: none;
}
*/

/* 


    INDEX


*/

.site_header {
    background-image: url(images/style/header-image.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
}


.site_header__escape_text {
    font-size: 26px;
    font-weight: 400;
    font-family: "Lora", serif;
}

.escape_menu__button{
    font-size: 12px;
    font-weight: 400;
    font-family: "Oxygen", sans-serif;
    color:#FFFFFF;
    text-decoration: none;
}

.site_header__header_text {
    font-size: 50px;
    font-weight: 400;
    font-family: "Lora", serif;
}

.underheader__text {
    font-size: 17px;
    font-weight: 400;
    font-family: "Oxygen", sans-serif;
}

.underheader__button {
    background-color: #DD783F;
    border: none;
    padding: 44px 167px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    font-weight: 400;
    font-family: "Oxygen", sans-serif;
}

.content_sort__button{
    font-size: 14px;
    font-weight: 400;
    font-family: "Lora", serif;
    text-decoration: none;
}

.featured_posts__section_mark {
    font-size: 20px;
    font-weight: 400;
    font-family: "Oxygen", sans-serif;
    color: #2E2E2E;
    border-bottom: 1px solid #DEDEDE;
    display: inline-flex;
}

.featured_posts__tra.tra{
    background-image: url(images/index/p1.png);
    background-repeat: no-repeat;
}

.tra__header {
    font-size: 27px;
    font-weight: 400;
    font-family: "Lora", serif;
    color: #FFFFFF;
}

.tra__subscription{
    font-size: 14px;
    font-weight: 400;
    font-family: "Oxygen", sans-serif;
    color: #FFFFFF;
}

.avatar__subscription{
    font-size: 14px;
    font-weight: 400;
    font-family: "Oxygen", sans-serif;
    color: #FFFFFF;
}

.tra__date {
    font-size: 14px;
    font-weight: 400;
    font-family: "Oxygen", sans-serif;
    color: #FFFFFF;
}

/*.two{
    background-image: url(images/index/p2.png);
    background-repeat: no-repeat;
}
.two h4{
    font-size: 12px;
    font-weight: 400;
    font-family: "Oxygen", sans-serif;
    background-color: #DD783F;
    color: #FFFFFF;
    border: 5px solid #DD783F;
    background-repeat: no-repeat;
    border-radius: 3px;
    display: inline;
}

/*  Для Recent  */
/*.rec h2{
    font-size: 20px;
    font-weight: 400;
    font-family: "Oxygen", sans-serif;
    color: #2E2E2E;
    border-bottom: 1px solid #DEDEDE;
    display: inline-flex;
}

.rec article h3{
    font-size: 16px;
    font-weight: 400;
    color: #101315;
    font-family: "Lora", serif;
}

.rec article h4{
    font-size: 12px;
    font-weight: 400;
    font-family: "Oxygen", sans-serif;
    background-color: #DD783F;
    color: #FFFFFF;
    border: 5px solid #DD783F;
    background-repeat: no-repeat;
    border-radius: 3px;
    display: inline;
}

.rec article p{
    font-size: 13px;
    font-weight: 400;
    color: #7A7A7A;
    font-family: "Oxygen", sans-serif;
}

/*


    THE ROAD AHEAD


*/

/*  Header  */
/*.tra {
    background-image: none;
}
.tra h3 {
    color: #2E2E2E;
}
.tra nav a{
    color: #2E2E2E;
}

/*  Заголовок  */
/*.header h1{
    font-size: 50px;
    font-weight: 400;
    color: #2E2E2E;
    font-family: "Lora", serif;
}

.header p{
    font-size: 17px;
    font-weight: 400;
    color: #2E2E2E;
    font-family: "Oxygen", sans-serif;
}

.text {
    font-size: 24px;
    font-weight: 400px;
    color: #101315;
    font-family: "Oxygen", sans-serif;
}