/*Заголовки сайтов*/
header {
    background-image: url(images/style/header-image.jpg)
}

/*Текст "Escape"*/
.escape_text {
    color: white;
    font-size: 26px;
    font-weight: 400;
    font-style: Lora;
}

/*Кнопки выхода возле текста "Escape"*/
.escape_button {
    color: white;
    font-size: 12px;
    font-weight: 400;
    font-style: Oxygen;
}

/*Кнопки выхода возле текста "Escape" сверху в the-road-ahead*/
.escape_text_2{
    color: black;
    font-size: 26px;
    font-weight: 400;
    font-style: Lora;
}

/*Кнопки выхода возле текста "Escape" сверу в the-road-ahead*/
.escape_button_2 {
    color: black;
    font-size: 12px;
    font-weight: 400;
    font-style: Oxygen;
}

/*Заголовок в index.html*/
.header_index {
    color: white;
    font-size: 50px;
    font-weight: 400;
    font-style: Lora;
}

/*Заголовок к the-road-ahead.html*/
.header_the-road-ahead {
    color:black;
    font-size: 50px;
    font-weight: 400;
    font-style: Lora;
}

/*Подзаголовочный текст в index.html*/
.underheader_text_index {
    color: white;
    font-size: 17px;
    font-weight: 400;
    font-style: Oxygen;
}

/*Подзаголовочный текст в the-road-ahead.html*/
.underheader_text_the-road-ahead {
    color: black;
    font-size: 17px;
    font-weight: 400;
    font-style: Oxygen;
}

/*Основной текст в the-road-ahead.html*/
.main_text {
    color: #101315;
    font-size: 24px;
    font-weight: 400;
    font-style: Oxygen;
}

/*Конец страницы сайтов*/
footer {
    background-image: url(images/style/footer-image.jpg);
}